<div class="head-menu" [hidden]="hiddenLogin">
  <div class="ui large inverted menu">
    <!--<div class="ui icon buttons">
      <button class="large ui black button" (click)="sidenav.toggle()"><i class="align justify icon"></i> Menu</button>
    </div>-->
    <a class="item" (click)="sidenav.toggle()">
      <i class="align justify icon"></i> Menu
    </a>
    <div class="right menu">
      <div class="ui dropdown item" style="margin-right: 3px;">
        {{display_name}} <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" routerLink="/setting"><i class="setting icon"></i> Settings</div>
          <div class="item" routerLink="/staffcreate"><i class="add user icon"></i> Create staff</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-side">
  <md-sidenav-container class="sidenav-fab-container">
    <md-sidenav #sidenav mode="side" [opened]="showSide">
      <div class="scrolling-content">
        <div class="ui inverted vertical labeled icon menu">
          <a class="item" routerLink="/category_list" routerLinkActive="active">
            <i class="cubes icon"></i>
            Category
          </a>
          <a class="item" routerLink="/product_list" routerLinkActive="active">
            <i class="shopping basket icon"></i>
            Product
          </a>
          <a class="item" routerLink="/head_slider" routerLinkActive="active">
          <!--<a class="item" [routerLink]="['/head_slider', {outlets:{slide:['testrcomp']}}]" routerLinkActive="active">-->
            <i class="ellipsis horizontal icon"></i>
            Head slider edit
          </a>
          <a class="item" routerLinkActive="active">
            <i class="unordered list icon"></i>
            Order
          </a>
          <a class="item" routerLinkActive="active">
            <i class="users icon"></i>
            User setting
          </a>
          <a class="item" routerLink="/login" routerLinkActive="active">
            <i class="power icon"></i>
            Log out
          </a>
        </div>  
      </div>
    </md-sidenav>
    <div class="scrolling-content">
      <div style="margin: 18px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </md-sidenav-container>
</div>