<!--<div class="head-menu" [hidden]="hiddenLogin">
  <div class="ui large inverted menu">
    <a class="item" (click)="sidenav.toggle()">
      <i class="align justify icon"></i> Menu
    </a>
    <div class="right menu">
      <div class="ui dropdown item" style="margin-right: 3px;">
        {{display_name}} <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" routerLink="/setting"><i class="setting icon"></i> Settings</div>
          <div class="item" routerLink="/staffcreate"><i class="add user icon"></i> Create staff</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-side">
  <md-sidenav-container class="sidenav-fab-container">
    <md-sidenav #sidenav mode="side" [opened]="showSide">
      <div class="scrolling-content">
        <div class="ui inverted vertical labeled icon menu">
          <a class="item" routerLink="/category_list" routerLinkActive="active">
            <i class="cubes icon"></i>
            Category
          </a>
          <a class="item" routerLink="/product_list" routerLinkActive="active">
            <i class="shopping basket icon"></i>
            Product
          </a>
          <a class="item" routerLink="/head_slider" routerLinkActive="active">
            <i class="ellipsis horizontal icon"></i>
            Head slider edit
          </a>
          <a class="item" routerLinkActive="active">
            <i class="unordered list icon"></i>
            Order
          </a>
          <a class="item" routerLinkActive="active">
            <i class="users icon"></i>
            User setting
          </a>
          <a class="item" routerLink="/login" routerLinkActive="active">
            <i class="power icon"></i>
            Log out
          </a>
        </div>  
      </div>
    </md-sidenav>
    <div class="scrolling-content">
      <div style="margin: 18px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </md-sidenav-container>
</div>-->
<block-ui>
<div class="main-page" (window:resize)="setPage()">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" [hidden]="hiddenTopBar">
    <header class="page-header mdl-layout__header mdl-color--blue-grey-800">
      <div class="mdl-layout__header-row" [hidden]="!manager">
        <span class="mdl-layout-title">Home</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Enter your query...</label>
          </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
          <li class="mdl-menu__item">About</li>
          <li class="mdl-menu__item">Contact</li>
          <li class="mdl-menu__item">Legal information</li>
        </ul>
      </div>
    </header>
  </div>
  <div class="page-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer" [style.padding-left]="leftPad">
    <div class="page-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" id="my-side-bar" 
         style="margin-top:64px;" [style.height]="sideHeight" [style.margin-left]="leftPad" [hidden]="hiddenSideBar">
      <div class="page-navigation mdl-navigation" [hidden]="!manager">
        <header class="page-drawer-header">
          <img src="images/user.jpg" class="page-avatar">
          <div class="page-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          </div>
        </header>
        <nav class="page-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" routerLink="/category_list"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Category</a>
          <a class="mdl-navigation__link" routerLink="/product_list"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">list</i>Product list</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" routerLink="/login"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
    </div>
    <main id="main" class="mdl-layout__content" style="margin-top:64px;" [style.padding-right]="rightPad"> <!-- [ngClass]="{'hiddenLeftMargin': hiddenSideBar}" -->
      <div class="main-change" style="width:100%; padding:18px 18px 0px 18px;">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
</block-ui>