<form class="ui form" #categoryForm="ngForm">
  <h4 class="ui dividing header">Category control</h4>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <label>Name</label>
      <div>
        <input type="text" id="categoryName" placeholder="First Name" [(ngModel)]="cate.cateName" name="cateName" #cateName="ngModel" required>
      </div>
      <div>
        <div class="required-message" [hidden]="cateName.valid || cateName.pristine">
          <i class="material-icons">error</i>
          Category name is required
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <label>Status</label>
          <select class="ui fluid dropdown" id="categoryStatus" name="categoryStatus" [(ngModel)]="cate.selectedStatus">
          <option *ngFor="let item of statusLists" [value]='item.value'>
            {{item.label}}
          </option>
        </select>  
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <label>Description</label>
      <div>
        <textarea type="text" id="categoryDesciption" placeholder="First Name" [(ngModel)]="cate.cateDescription" 
        name="categoryDesciption"></textarea>
      </div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" 
      type="submit" [disabled]="categoryForm.form.invalid" (click)="saveCategory()">Submit</button>
      <button class="mdl-button mdl-js-button mdl-button--raised" (click)="dialog.close()"
      type="submit">Close</button>
    </div>
  </div>
</form>
<dialog style="display:none;"></dialog>
