<!--<p-panel header="Category manage">
    <form #categoryForm="ngForm">
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="categoryName">Category Name:</label>
                <br/>
                <input id="categoryName" style="width:100%" type="text" pInputText [(ngModel)]="cate.cateName" 
                    name="cateName" #cateName="ngModel" required />
            </div>
            <div class="ui-g-8">
                <br/>
                <div class="required-message" [hidden]="cateName.valid || cateName.pristine">
                    <i class="fa fa-close"></i>
                    Category name is required
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="categoryDesciption">Category Description:</label>
                <br/>
                <textarea rows="3" id="categoryDesciption" style="width:100%" pInputTextarea autoResize="autoResize" 
                    name="categoryDesciption" [(ngModel)]="cate.cateDescription"></textarea>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <label for="categoryStatus">Category Description:</label>
                <br/>
                <p-dropdown id="categoryStatus" name="categoryStatus" [options]="statusLists" 
                    [(ngModel)]="cate.selectedStatus">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <button id="sentCatecory" pButton type="button" label="Save" [disabled]="categoryForm.form.invalid" (click)="confirmSaveCate()"></button>
            </div>
        </div>
    </form>
</p-panel>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-growl [value]="msgs"></p-growl>-->
<form class="ui form" #categoryForm="ngForm">
  <h4 class="ui dividing header">Category control</h4>
  <div class="field">
    <label>Name</label>
    <div class="fields">
      <div class="four wide field">
        <input type="text" id="categoryName" placeholder="First Name" [(ngModel)]="cate.cateName" name="cateName" #cateName="ngModel" required>
      </div>
      <div class="twelve wide field">
        <div class="required-message" [hidden]="cateName.valid || cateName.pristine">
            <i class="remove circle outline icon"></i>
            Category name is required
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Description</label>
    <div class="fields">
      <div class="four wide field">
        <textarea type="text" id="categoryDesciption" placeholder="First Name" [(ngModel)]="cate.cateDescription" 
        name="categoryDesciption"></textarea>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Status</label>
    <div class="four wide field">
        <select class="ui fluid dropdown" id="categoryStatus" name="categoryStatus" [(ngModel)]="cate.selectedStatus">
            <option *ngFor="let item of statusLists" [value]='item.value'>
                {{item.label}}
            </option>
        </select>
    </div>
  </div>
  <button class="ui button" type="submit" [disabled]="categoryForm.form.invalid" (click)="confirmSaveCate()">Submit</button>
</form>