<div class="ui grid">
  <div class="three column row">
    <div class="column">
      <button class="ui positive labeled icon button" (click)="add_new_slider('create')">
        <i class="shopping basket icon"></i>
        New
      </button>
    </div>
  </div>
  <div class="three column row">
    <div class="column">
      <div class="ui input">
        <!--<input type="text" placeholder="Search..." [(ngModel)]="filterText" (focus)="focusFilter()">-->
        <input type="text" placeholder="Search..." [(ngModel)]="filterText">
      </div>
    </div>
  </div>
</div>