
<h4 class="ui dividing header">Product stock in</h4>
<div class="mdl-grid">
  <input type='text' id='product-id' style="display:none;"/>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="ui input">
      <input type="text" id="product-name" [(ngModel)]="productName" (focus)="clearData()" placeholder="Search..." />
    </div>
    
    <button (click)="searchProduct()" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">search</i>
    </button>
  </div>
</div>

<form class="ui form" #stockInForm="ngForm">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <label>
        <span>Product Code </span> 
      </label>
      <div>
        <input type="text" id="stock-in-product-code" placeholder="Product Code" [(ngModel)]="stockInProduct.code" 
        name="stockInProductCode" #stockInProductCode="ngModel" disabled required />
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <label>
        <span>Product Name </span> 
      </label>
      <div>
        <input type="text" id="stock-in-product-name" placeholder="Product Name" [(ngModel)]="stockInProduct.name" 
        name="stockInProductName" #stockInProductName="ngModel" disabled required />
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <label>
        <span>Product Qty</span> 
      </label>
      <div>
        <input type="text" id="stock-in-product-qty" placeholder="Product Qty" [(ngModel)]="stockInProduct.qty" 
        name="stockInProductQty" #stockInProductQty="ngModel" required />
      </div>
    </div>
  </div>

  <div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="saveLotIn" 
              type="submit" [disabled]="stockInForm.form.invalid" (click)="saveLotIn()">Save</button>
			<button class="mdl-button mdl-js-button mdl-button--raised" id="cancelAll" type="submit" (click)="reset()">Cancel</button>
		</div>
	</div>
</form>

<div class="mdl-grid">
  <ngx-datatable
    #mydatatable
    class="material striped mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col"
    [headerHeight]="50"
    [limit]="5"
    [columns]="columns"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="stockList">
  </ngx-datatable>
</div>

<div class="mdl-grid">
  <dialog class="mdl-dialog mdl-cell mdl-cell--7-col" id='add-product' style="margin: auto;overflow: scroll;max-height: 60%;">
    <div class="mdl-dialog__content">
      <app-product-manage [productId]="productId" (childResult)="childReturn($event)"></app-product-manage>
    </div>
  </dialog>
</div>