<div class="ui grid">
  <div class="three column row">
    <div class="column">
      <button class="ui positive labeled icon button" (click)="add_new_product('create')">
        <i class="shopping basket icon"></i>
        New
      </button>
    </div>
  </div>
  <div class="three column row">
    <div class="column">
      <div class="ui input">
        <input type="text" placeholder="Search..." [(ngModel)]="filterText">
      </div>
    </div>
  </div>
</div>

<table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Qty</th>
      <th>Price</th>
      <th style="text-align:center;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productLists | tableFilter:filterText | pageNumber:pageNo">
      <td>{{item.product_name}}</td>
      <td>{{item.product_description}}</td>
      <td>{{item.product_qty}}</td>
      <td>{{item.product_price}}</td>
      <td style="text-align:center;">
        <button class="primary circular ui icon button" (click)="add_new_product(item)">
          <i class="write icon"></i>
        </button>
        <button class="primary circular ui icon button" (click)="viwe_product_pic(item)">
          <i class="file image outline icon"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">
        <div class="ui right floated pagination menu">
          <!--page-->
          <select class="ui search dropdown" [(ngModel)]="pageNo">
            <option *ngFor="let page of productLists | tableFilter:filterText | pageList:6" [value]='page'>{{page}}</option>
          </select>
        </div>
      </th>
    </tr>
  </tfoot>
</table>


<!--<div *ngFor="let item of productLists | tableFilter:filterText | pageNumber:pageListNo">
  {{item.product_name}}
</div>

<div class="ui right floated pagination menu">
  <select class="ui search dropdown" [(ngModel)]="pageListNo">
    <option *ngFor="let page of productLists | tableFilter:filterText | pageList:6" [value]='page'>{{page}}</option>
  </select>
</div>-->