<div class="ui grid">
  <div class="three column row">
    <div class="column">
      <button class="ui positive labeled icon button" (click)="add_new_product('create')">
        <i class="shopping basket icon"></i>
        New
      </button>
    </div>
  </div>
  <div class="three column row">
    <div class="column">
      <div class="ui input">
        <input type="text" placeholder="Search..." [(ngModel)]="filterText" (focus)="focusFilter()">
      </div>
    </div>
  </div>
</div>

<div class="ui special cards">
  <div class="card" style="padding:10px;" *ngFor="let item of productLists | tableFilter:filterText | pageNumber:{pageNo:pageNo, row: 9}">
    <div class="image">
      <img [src]="item.img" style="width: 270px; border-radius: 4px;">
    </div>
    <div class="content">
      <div class="header">{{item.product_name}}</div>
      <div class="meta">
        {{item.product_price}}
      </div>
      <div class="description">
        {{item.product_description}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button" (click)="add_new_product(item)">Edit</div>
        <div class="ui basic red button" (click)="delete_product(item)">Delete</div>
      </div>
    </div>
  </div>
</div>



<br/>
<!-- <select class="ui search dropdown" [(ngModel)]="pageNo">
  <option *ngFor="let page of productLists | tableFilter:filterText | pageList:9" [value]='page'>{{page}}</option>
</select>  -->
 <ng-select [(ngModel)]="pageNo">
  <option *ngFor="let page of productLists | tableFilter:filterText | pageList:9" [value]='page'>{{page}}</option>
</ng-select> 

<div class="ui small modal" id="deleteProduct">
  <div class="header">Delete product pictuer</div>
  <div class="content">
    <p>Do you want to delete this product ?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">NO</div>
    <div class="ui positive right labeled icon button" (click)="removeProduct()">YES</div>
  </div>
</div>

<!--<div *ngFor="let item of productLists | tableFilter:filterText | pageNumber:pageListNo">
  {{item.product_name}}
</div>

<div class="ui right floated pagination menu">
  <select class="ui search dropdown" [(ngModel)]="pageListNo">
    <option *ngFor="let page of productLists | tableFilter:filterText | pageList:6" [value]='page'>{{page}}</option>
  </select>
</div>-->